
    @import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);
  
    html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to right bottom, #2C3E50 ,#4CA1AF);
    background: -moz-linear-gradient(to right bottom, #2C3E50 ,#4CA1AF);
    background: -ms-linear-gradient(to right bottom, #2C3E50 ,#4CA1AF);
    background: -o-linear-gradient(to right bottom, #2C3E50 ,#4CA1AF);
    background: linear-gradient(to right bottom, #2C3E50 ,#4CA1AF);
  }
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .cards__item {
      display: flex;
      padding: 1rem;
    }
    @media (min-width: 40rem) {
      .cards__item {
        width: 50%;
      }
    }
    @media (min-width: 56rem) {
      .cards__item {
        width: 33.3333%;
      }
    }
    .card {
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: -webkit-fill-available;
      width: -moz-available;
      width: -ms-available;
    }
    .card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }
    @media (min-width: 40rem) {
      .card__image::before {
        padding-top: 66.6%;
      }
    }
    .card__title {
      color: #696969;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 2px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    .card__text {
      flex: 1 1 auto;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }
    #requests th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: dodgerblue;
      color: white;
    }
    .spe{
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: dodgerblue;
      color: white; 
    }
    #requests {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #requests td, #requests th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #requests tr:nth-child(even){background-color: #f2f2f2;}

    #requests tr:hover {background-color: #ddd;}