<!DOCTYPE html>
<html>
<head>
{% load static %}
  <title>Stats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
</head>
<body>
  <center>
    <ul class="cards" style="margin-top: 5%;">
      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">ACTIVE REQUESTS</div>
              <h3 style="color: black;"></h3> 
              <table id="requests">
                <tr>
                  <th>GET</th>
                  <th>PUT</th>
                  <th>POST</th>
                  <th>DELETE</th>
                </tr>
                <tr>
                  <td id="ac_GET">0</td>
                  <td id="ac_PUT">0</td>
                  <td id="ac_POST">0</td>
                  <td id="ac_DELETE">0</td>
                </tr>
              </table>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">REQUESTS MADE IN PAST ONE HOUR</div>
              <h3 style="color: black;"></h3> 
              <table id="requests">
                <tr>
                  <th>GET</th>
                  <th>PUT</th>
                  <th>POST</th>
                  <th>DELETE</th>
                </tr>
                <tr>
                  <td id="hr_GET">0</td>
                  <td id="hr_PUT">0</td>
                  <td id="hr_POST">0</td>
                  <td id="hr_DELETE">0</td>
                </tr>
              </table>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">REQUESTS MADE IN PAST ONE MINUTE</div>
              <h3 style="color: black;"></h3> 
              <table id="requests">
                <tr>
                  <th>GET</th>
                  <th>PUT</th>
                  <th>POST</th>
                  <th>DELETE</th>
                </tr>
                <tr>
                  <td id="min_GET">0</td>
                  <td id="min_PUT">0</td>
                  <td id="min_POST">0</td>
                  <td id="min_DELETE">0</td>
                </tr>
              </table>
          </div>
        </div>
      </li>
      <li class="cards__item" >
      </li>
        <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">Total Request</div>
              <h3 style="color: black;"></h3> 
              <table id="requests">
                <tr>
                  <th style="background: white;"></th>
                  <th>GET</th>
                  <th>PUT</th>
                  <th>POST</th>
                  <th>DELETE</th>
                </tr>
                <tr>
                  <td class="spe"><b>No. of Req</b></td>
                  <td id="tr_GET">0</td>
                  <td id="tr_PUT">0</td>
                  <td id="tr_POST">0</td>
                  <td id="tr_DELETE">0</td>                  
                </tr>
                <tr>
                  <td class="spe"><b>Avg Time</b></td>
                  <td id="avg_GET">0</td>
                  <td id="avg_PUT">0</td>
                  <td id="avg_POST">0</td>
                  <td id="avg_DELETE">0</td>
                </tr>
              </table>
          </div>
        </div>
      </li>
    </ul> 
  </center>
  <script type="text/javascript">
    var const_method=["GET","POST","PUT","DELETE"]
    var const_prefix=["ac_","hr_","min_","tr_"]
    var getprefix={"onehourdata":1,"totalrequest":3,"onemindata":2,"activedata":0}
    var jqxhr =()=> $.get( "stats/detail/", function() {
    })
    .done(function(data) {
      for (var item in data)
      {
        for (var i in const_method)
        {
          var flag=0;
          for(j in data[item])
          {
            if(data[item][j].method==const_method[i])
            {
              $('#'+const_prefix[getprefix[item]]+const_method[i])[0].innerHTML=data[item][j].method__count;
              flag=1;
            }
          }
          if(flag==0)
            $('#'+const_prefix[getprefix[item]]+const_method[i])[0].innerHTML="0";
        }
      }
      for (var i in const_method)
      {
        var flag=0;
        for (var j in data['totalrequest'])
        {
          if(data['totalrequest'][j].method==const_method[i])
          { 
            flag=1; 
            $('#avg_'+const_method[i])[0].innerHTML=Math.round((data['totalrequest'][j]['duration__sum']/data['totalrequest'][j].method__count)*100)/100;
          }
        }
        if(flag==0)
            $('#avg_'+const_method[i])[0].innerHTML="0"
      }
  })
  .fail(function(data) {
      console.log(data);
      alert( "error" );
    })
    jqxhr();
   setInterval(jqxhr,10000);
  </script>
</body>
</html>